@charset "UTF-8";
@font-face {
  font-family: "bccFont";
  src: url("../fonts/bccFont.eot");
  src: url("../fonts/bccFont.eot?#iefix") format("eot"), url("../fonts/bccFont.woff") format("woff"), url("../fonts/bccFont.ttf") format("truetype"), url("../fonts/bccFont.svg#bccFont") format("svg");
}
.bcc-add:before, .bcc-back:before, .bcc-battery:before, .bcc-blog:before, .bcc-booking:before, .bcc-call:before, .bcc-chain:before, .bcc-chart:before, .bcc-check:before, .bcc-close:before, .bcc-cloud:before, .bcc-coupon:before, .bcc-cpu:before, .bcc-date:before, .bcc-down:before, .bcc-download:before, .bcc-email:before, .bcc-expan:before, .bcc-fb:before, .bcc-fix:before, .bcc-guide:before, .bcc-help:before, .bcc-internet:before, .bcc-inventory:before, .bcc-invoice:before, .bcc-lang:before, .bcc-language:before, .bcc-list:before, .bcc-mail:before, .bcc-maintain:before, .bcc-map:before, .bcc-member:before, .bcc-money:before, .bcc-nav:before, .bcc-new:before, .bcc-next:before, .bcc-next2:before, .bcc-offline:before, .bcc-payment:before, .bcc-pos:before, .bcc-printer:before, .bcc-purchase:before, .bcc-report:before, .bcc-right:before, .bcc-sale:before, .bcc-scan:before, .bcc-screen:before, .bcc-search:before, .bcc-service:before, .bcc-speaker:before, .bcc-sturdy:before, .bcc-table:before, .bcc-taste:before, .bcc-time:before, .bcc-time2:before, .bcc-up:before, .bcc-webmenu:before, .bcc-wholesale:before, .bcc-youtube:before {
  font-family: "bccFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.bcc-add:before {
  content: "";
}

.bcc-back:before {
  content: "";
}

.bcc-battery:before {
  content: "";
}

.bcc-blog:before {
  content: "";
}

.bcc-booking:before {
  content: "";
}

.bcc-call:before {
  content: "";
}

.bcc-chain:before {
  content: "";
}

.bcc-chart:before {
  content: "";
}

.bcc-check:before {
  content: "";
}

.bcc-close:before {
  content: "";
}

.bcc-cloud:before {
  content: "";
}

.bcc-coupon:before {
  content: "";
}

.bcc-cpu:before {
  content: "";
}

.bcc-date:before {
  content: "";
}

.bcc-down:before {
  content: "";
}

.bcc-download:before {
  content: "";
}

.bcc-email:before {
  content: "";
}

.bcc-expan:before {
  content: "";
}

.bcc-fb:before {
  content: "";
}

.bcc-fix:before {
  content: "";
}

.bcc-guide:before {
  content: "";
}

.bcc-help:before {
  content: "";
}

.bcc-internet:before {
  content: "";
}

.bcc-inventory:before {
  content: "";
}

.bcc-invoice:before {
  content: "";
}

.bcc-lang:before {
  content: "";
}

.bcc-language:before {
  content: "";
}

.bcc-list:before {
  content: "";
}

.bcc-mail:before {
  content: "";
}

.bcc-maintain:before {
  content: "";
}

.bcc-map:before {
  content: "";
}

.bcc-member:before {
  content: "";
}

.bcc-money:before {
  content: "";
}

.bcc-nav:before {
  content: "";
}

.bcc-new:before {
  content: "";
}

.bcc-next:before {
  content: "";
}

.bcc-next2:before {
  content: "";
}

.bcc-offline:before {
  content: "";
}

.bcc-payment:before {
  content: "";
}

.bcc-pos:before {
  content: "";
}

.bcc-printer:before {
  content: "";
}

.bcc-purchase:before {
  content: "";
}

.bcc-report:before {
  content: "";
}

.bcc-right:before {
  content: "";
}

.bcc-sale:before {
  content: "";
}

.bcc-scan:before {
  content: "";
}

.bcc-screen:before {
  content: "";
}

.bcc-search:before {
  content: "";
}

.bcc-service:before {
  content: "";
}

.bcc-speaker:before {
  content: "";
}

.bcc-sturdy:before {
  content: "";
}

.bcc-table:before {
  content: "";
}

.bcc-taste:before {
  content: "";
}

.bcc-time:before {
  content: "";
}

.bcc-time2:before {
  content: "";
}

.bcc-up:before {
  content: "";
}

.bcc-webmenu:before {
  content: "";
}

.bcc-wholesale:before {
  content: "";
}

.bcc-youtube:before {
  content: "";
}
