
  /*splitfilename=gx_08_tabular.css*/
//
//
//
//
//
//==============================================================================
//
// table
//
$border: #dddddd;

%table {
  width: 100%;
  text-align: left;
  background-color: white;
  &,
  td,
  th {
    border: 1px solid $border;
  }
  th {
    padding: 15px 15px;
    @include breakpoint($pad-down) {
      padding: 15px 5px;
    }
  }
  td {
    padding: 8px 15px;
    @include breakpoint($pad-down) {
      padding: 8px 5px;
      width: 2%;
    }
  }
}



//==============================================================================
//
// caption
//
//==============================================================================
//
// colgroup
//
//==============================================================================
//
// col
//
//==============================================================================
//
// tbody
//
//==============================================================================
//
// thead
//
//==============================================================================
//
// tfood
//
//==============================================================================
//
// tr
//
//==============================================================================
//
// td
//

//==============================================================================
//
// th
//

//==============================================================================
/*split*/
