
  /*splitfilename=gx_07_links.css*/
//
//
//
//
//
//==============================================================================
//
// a
//

a {
  display: block;
  color: $color-black;

  &.active,
  &:hover {
    color: $color-main;
  }
}

a[href^="tel:"] {
  color: $color-main;
}
//==============================================================================
//
//
//
//==============================================================================
/*split*/
