
  /*splitfilename=gx_02_Layout.css*/
//
//
//
//
//
//==============================================================================
//
// *
//
//==============================================================================
//
// body
//
//==============================================================================
//
// header
//

.header {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray;
}

.logo {
  display: inline-block;
  float: left;

  a h1 {
    @extend %text-hide;
  }
}

.menu {
  float: left;

  ol li {
    display: inline-block;
    float: left;

    a {
      display: block;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
    }
  }
}

.menu-content {
  width: 100%;
  float: left;
}
// 功能模組 & 產品簡介
.item-features-content,.item-info-content {
  display: none;
}
nav .item-features-content, nav .item-info-content {
  display: block;
}

//==============================================================================
//
// nav
//

.nav {}
//==============================================================================
//
// main
//

main {
  text-align: center;
  overflow: hidden;
}
//==============================================================================
//
// article
//

main > article {}
//==============================================================================
//
// aside
//

main > aside {
  position: fixed;
  width: 60px;
  right: 0;
  top: 0;
  height: 100%;
  background-color: $color-main;
  display: none;
}
//==============================================================================
//
// section
//
//==============================================================================
//
// div
//
//==============================================================================
//
// footer
//


//==============================================================================
/*split*/
