# 設定檔案快取時間
<IfModule mod_headers.c>
Header set Connection keep-alive
    <filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|swf)$">
        Header set Cache-Control "max-age=7200, public"
    </filesMatch>
</IfModule>
